div {
    margin: 5vw;
    border: 2px solid red;
    padding: 10px;
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    
}
.button {
    width: 20vw;
    background-color: lightgray;
    height: 10vh;
}
.op {
    color:red
}
